@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../vendor/fonts/CabinetGrotesk-Bold.otf") format("opentype");
}

.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  position: relative;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__user-menu {
  margin-left: auto;
  gap: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.header__user-menu-buttons {
  gap: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.header__user-menu-close {
  display: none;
  background-color: transparent;
  width: 21px;
  height: 21px;
  padding: 0;
  border: 0;
  position: absolute;
  top: 11px;
  right: 11px;
}

.header__user-menu-close:hover {
  cursor: pointer;
}

.header__add-clothes-button {
  padding: 0;
  border: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #f3f3f3;
}

.header__add-clothes-button:hover {
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.header__link,
.header__link:visited,
.header__link:hover,
.header__link:active {
  text-decoration: none;
  color: #000;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header__user-menu-toggle {
  display: none;
  background-color: #ffffff;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 0px;
}

.header__user-menu-line {
  display: none;
  width: 28px;
  height: 2px;
  border-radius: 1px;
  background-color: #000;
  position: absolute;
  right: 8px;
  pointer-events: none;
  z-index: 999;
  transition: 0.5s;
}

.header__user-menu-line_top {
  top: 34px;
}

.header__user-menu-line_bottom {
  top: 44px;
}

@media (max-width: 850px) {
  .header {
    padding: 19px 0 17px;
  }

  .header__user-menu {
    flex-direction: column-reverse;
  }

  .header__add-clothes-button {
    margin: 0;
    align-self: flex-start;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 18px 0 16px;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }

  .header__user-menu-toggle {
    display: block;
  }

  .header__user-menu {
    display: none;
    position: absolute;
    height: 208px;
    width: 100%;
    top: 18px;
    left: 0px;
    border-radius: 10px;
    background-color: #ffffff;
    z-index: 999;
    justify-content: center;
    align-items: center;
    gap: 24px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  }

  .header__user-menu_open {
    display: flex;
  }

  .header__user-menu_closed {
    display: none;
  }

  .header__user-menu-close {
    display: block;
  }

  .header__add-clothes-button {
    background-color: #ffffff;
    align-self: auto;
  }

  .header__user-menu-line {
    display: block;
  }

  .header__user-menu-line_top-rotate {
    transform: translateY(5px) rotate(45deg);
  }

  .header__user-menu-line_bottom-rotate {
    transform: translateY(-5px) rotate(-45deg);
  }
}
