.sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 15px;
  align-items: flex-start;
}

.sidebar__user {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
}

.sidebar__username {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  width: 157px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: center;
}

.sidebar__avatar {
  width: 40px;
  height: 40px;
}

.sidebar__button {
  padding: 0;
  border: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #f3f3f3;
}

.sidebar__button:hover {
  cursor: pointer;
}
